
@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

.styled-name {
  font-family: "Rocher", cursive;
  font-family: 'Rocher';
  display: inline-block;
  font-size: 120px;
  letter-spacing: 10px;
  transform: rotateZ(1deg);
}



.letter{
  white-space: nowrap;
  position: relative;
  animation: bgrubberband 0.5s alternate ease-out forwards;
}

@keyframes bgrubberband {

  0% {
    transform: scale(1);
    transform: rotate(-0.2turn);
    
    opacity: 0;
  }

  40% {
    transform: scale(1.4);
  }

  55% {

    transform: scale(0.95);
  }

  65% {

    transform: scale(1.2);
  }

  75% {
    transform: scale(1);
  }

  90% {
    transform: scaleX(0.93) scaleY(0.95);
  }

  100% {
    transform: scaleX(0.88) scaleY(1);
    opacity: 1;
  }
}

.text {
  position: relative;
  animation: rubberband 800ms alternate ease-out;
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }

  40% {
    transform: scaleX(1.12) scaleY(0.50);
  }

  55% {
    transform: scaleX(0.65) scaleY(1);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}