
@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }

.styled-name {
  font-family: "Rocher", cursive;
  font-family: 'Rocher';
  display: inline-block;
  letter-spacing: 10px;
  transform: rotateZ(5deg);
}



.letter{
  white-space: nowrap;
  position: relative;
  animation: bgrubberband 0.5s alternate ease-out forwards;
}

@keyframes bgrubberband {

  0% {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px rgb(1, 255, 233), 0 0 40px rgb(1, 255, 233), 0 0 50px rgb(1, 255, 233), 0 0 60px rgb(1, 255, 233), 0 0 70px rgb(1, 255, 233);
    transform: scale(1);
    transform: rotate(-0.2turn);
    
    opacity: 0;
  }

  40% {
    transform: scale(1.4);
  }

  55% {

    transform: scale(0.95);
  }

  65% {

    transform: scale(1.2);
  }

  75% {
    transform: scale(1);
  }

  90% {
    transform: scaleX(0.93) scaleY(0.95);
  }

  100% {
    text-shadow: 0 0 5px #fff, 0 0 30px rgb(188, 32, 69);
    transform: scaleX(0.88) scaleY(1);
    opacity: 1;
  }
}
.tx{
  text-shadow: 0 0 5px #fff, 0 0 20px rgb(255, 165, 0);
}

.drop{
  
  animation: tdrop 800ms alternate ease-out forwards;
}
@keyframes tdrop{
  0%{
    opacity: 0;

    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px), rotate(10deg);
  }
}

.tex {
  position: relative;
  text-shadow: 0 0 20px #fff, 0 0 30px rgb(188, 32, 69), 0 0 40px rgb(188, 32, 69), 0 0 50px rgb(188, 32, 69), 0 0 60px rgb(188, 32, 69), 0 0 70px rgb(188, 32, 69), 0 0 80px rgb(188, 32, 69);
  animation: rubberband 800ms alternate ease-out;
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
    
  }

  40% {
    transform: scaleX(1.12) scaleY(0.50);
  }

  55% {
    transform: scaleX(0.65) scaleY(1);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.slide-t{  
  position: relative;
  animation: slide 0.5s ease-in 1 0s none;
}
@keyframes slide {
  0%{
    opacity: 0;
    transform: scale(1);
      
    top:150px
  }
  100%{
    transform: scale(1);
    top:0px;
  }
}