.ud{
    position: relative;
    text-shadow: -8px -5px 0px rgb(255, 165, 0), 0 0 30px rgb(188, 32, 69);
    transform: scaleX(1) scaleY(1);
}
@keyframes bgrubberban {

    0% {  

        text-shadow: 0 0 5px #fff, 0 0 30px rgb(188, 32, 69);
      transform: scale(1);
    }
    25%{
        text-shadow: 0 0 5px #fff,  0 0 30px rgb(255, 165, 0);
      transform: scaleX(1) scaleY(1);
    }
    50%{
        text-shadow: 0 0 5px #fff,  0 0 30px rgb(8, 253, 216);
      transform: scaleX(1) scaleY(1);
    }
    75%{
        text-shadow: 0 0 5px #fff,  0 0 30px rgb(1, 255, 233);
        transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 30px rgb(188, 32, 69);
      transform: scaleX(1) scaleY(1);
    }
  }